#================================================
# MikroC Compiler
#================================================

mikroC/*bmk
mikroC/*brk
mikroC/*cfg
mikroC/*dbg
mikroC/*dct
mikroC/*dlt
mikroC/*log
mikroC/*lst
mikroC/*txt
mikroC/*dic

src/**/*asm
src/**/*ini
src/**/*cp
src/**/*mcl

#================================================
# CCS C Compiler
#================================================

ccs/**/*ccspjt
ccs/**/*ccspjt
ccs/**/Makefile
ccs/**/build/
ccs/**/debug/
ccs/**/nbproject/
ccs/**/*STA
ccs/**/*cof
ccs/**/*err
ccs/**/*esym
ccs/**/*lst
ccs/**/*sym
ccs/**/*tre
ccs/**/*xsym

#================================================
# Proteus
#================================================

proteus/*pdsbak
proteus/*workspace
